.listElement {
  box-sizing: border-box;
  width: 100%;

  &__checkbox {
    min-width: 30px;
    min-height: 30px;
  }

  &__TaskName {
    box-sizing: border-box;
    background: inherit;
    border: none;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    border-bottom: 1px solid #ff9900;
    padding-left: 24px;
    transition: 0.3s border-bottom ease-in-out;
    width: 100%;
    margin: 0 0 0 14px;
    @media (max-width: 600px) {
      font-size: 16px;
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 20px 40px 0 40px;
  }

  &__container--inner {
    background-color: #2d2d2d;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    max-width: 1162px;
    width: 80%;
    position: relative;
    overflow: hidden;
    @media(max-width: 600px) {
      width: 100%;
    }
  }

  &__garbage {
      position: fixed;
      top: 40px;
      right: 40px;
      background-color: #ffffff00;
      border: none;
      cursor: pointer;
      z-index: 2;
      @media (max-width: 600px) {
          transform: scale(75%);
          top: 0;
          right: 0;
        }
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
    
    &--inputs {
      box-sizing: border-box;
      display: flex;
      margin: 20px 38px 0 40px;
    }
  }

  &__listName {
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 300;
    padding: 11px 18px;
    height: 50px;
    color: #454545;
    margin: 36px 38px 61px 36px;
    border: none;
    border-radius: 8px;
    background-color: #fff;
    transition: 0.3s background-color ease-in-out;
    
    &:focus {
      outline: none;
      background-color: #bdbdbd;
    }
  }

  &__break {
    display: inline-block;
    margin: 0 38px 61px 36px;
    height: 4px;
    background: #ff9900;
  }

  &__formButtons {
    display: flex;
    justify-content: flex-end;
    align-content: space-between;
    margin: 16px 38px 0 0;
    @media (max-width: 600px) {
      justify-content: center;
      transform: scale(75%);
      margin: 16px 0;
    }
  }

  &__cancelButton {
    background: #ff3d00;
    border: none;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    padding: 8px 17px 8px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s background-color ease-in-out;

    &:hover {
      background-color: #d63605;
    }
  }

  &__addButton {
    background: #ff9900;
    border: none;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    padding: 8px 40px;
    border-radius: 8px;
    margin-left: 67px;
    cursor: pointer;
    transition: 0.3s background-color ease-in-out;

    &:hover {
      background-color: #c07402;
    }
  }

  &__leaveButton {
    position: absolute;
    bottom: 36px;
    left: 68px;
    background: inherit;
    border: none;
    font-size: 48px;
    color: #ff9900;
    font-weight: 300;
    cursor: pointer;
    transition: 0.3s color ease-in-out;
    @media (max-width: 600px) {
      transform: scale(50%);
      left: -20px;
    }

    &:hover {
      color: #fae9cf;
    }
  }

  &__saveButton {
    position: absolute;
    bottom: 26px;
    right: 38px;
    background: #ff9900;
    border: none;
    font-size: 36px;
    color: #fff;
    font-weight: 300;
    padding: 19px 75px 17px 76px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s background-color ease-in-out;
    @media (max-width: 600px) {
      transform: scale(50%);
      right: -20px;
    }

    &:hover {
      background-color: #c07402;
    }
  }
}