.toDoLists {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    &__search--container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 65px 0 31px 0;
    }

    &__logoutButton {
        position: absolute;
        top: 40px;
        right: 40px;
        background-color: inherit;
        border: none;
        cursor: pointer;
        @media (max-width: 400px) {
            transform: scale(75%);
          }
    }

    &__search {
        box-sizing: border-box;
        font-size: 24px;
        font-weight: 300;
        padding: 11px 16px;
        color: black;
        border: none;
        border-radius: 8px;
        position: relative;
        display: flex;
        transition: 0.3s background-color ease-in-out;
    
        &:focus {
          outline: none;
          background-color: #bdbdbd;
        }

        &--container {
            @media (max-width: 650px) {
                flex-direction: column;
              }
        }
    }

    &__button {
        position: relative;
        padding: 11px 93px 11px 97px;
        font-size: 24px;
        border-radius: 8px;
        border: none;
        cursor: pointer;

        @media (max-width: 650px) {
            width: 100%;
            margin: 16px;
          }
     
        &--triangle {
            position: absolute;
            left: 11px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__createButton {
        position: fixed;
        bottom: 40px;
        right: 40px;
        background-color: inherit;
        border: none;
        cursor: pointer;
        padding: 0;
        z-index: 1;
        @media (max-width: 400px) {
            transform: scale(75%);
            bottom: 0;
            right: 0;
          }
    }
}

.toDoList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2D2D2D;
    margin: 36px 0;
    border-radius: 8px;
    color: #fff;
    font-size: 24px;
    padding: 16px 0;
    text-decoration: none;
    text-align: center;
    max-width: 100%;
    transition: 0.3s background-color ease-in-out;

    @media (max-width: 1000px) {
        font-size: 16px;
      }

      @media (max-width: 650px) {
        flex-direction: column;
      }

    &:hover {
        background-color: #575757;
    }

    &__container {
        width: 100%;
    }

    &__name {
        // padding: 36px;
        margin: 0;
        font-weight: 700;
        text-align: left;
        padding: 0 32px;
    }

    &__data {
        font-style: italic;
        margin: 0;
        padding: 0 32px;
    }

    &__statistics {
        margin: 0;
        padding: 0 32px;
    }
}